[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
zappa = "*"
flask-mysqldb = "*"
flask-cors = "*"
mysql = "*"
pymysql = "*"
flask-mail = "*"

[requires]
python_version = "3.6"
